Crypto
requests
sqlalchemy
sqlalchemy_utils
PyYAML
Flask
pyopenssl
wheel
gunicorn
textdistance[extras]
transliterate
dateparser
#bravado-core
httpsig  # This lib does not calculate and sign the digest of the body
#requests-http-signature # This lib makes signature to fail, as it does not lowercase the headers